* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Tahoma;
}

body {
    padding: 30px 30px;
    align-items: center;
}

btn_green {
    display: block;
    background-image:url('img/btn_green.png');
    background-repeat: no-repeat;
    background-size: contain;
}