<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<title th:text="'РЕДАКТИРОВАНИЕ ПРОДУКТА - ' + ${prodToEdit.name}">Product Edit</title>
</head>

<body>
    <form class="form-block" action="#" th:action="@{id}" th:object="${prodToEdit}" method="post">
        <span class="form-label">ID</span>
        <input class="form-control" type="number" readonly th:field="*{id}" th:value="${prodToEdit.id}" id="id" placeholder="Name"><br>
        <span class="form-label">Name</span>
        <input class="form-control" type="text" th:field="*{name}" th:value="${prodToEdit.name}" id="name" placeholder="Name"><br>
        <span class="form-label">Price</span>
        <input class="form-control" type="number" th:field="*{price}" th:value="${prodToEdit.price}" id="price" placeholder="Price"><br>
        <span class="form-label">Count</span>
        <input class="form-control" type="number" th:field="*{count}" th:value="${prodToEdit.count}" id="count" placeholder="Count"><br>

        <div style="width: 100%; text-align: right;">
            <input class="imgButton" type="submit" value="" style="background: url('../img/save.png') no-repeat; background-size: cover;">&nbsp;&nbsp;
            <a href="../products"><img class="imgButton" src="../img/goback.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </form>
</body>

</html>