<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>Create user</title>
</head>
<body>
<div class="form-block">
    <form  action="#" th:action="@{/user-update/*{id}}" th:object="${user}" method="post">
        <label class="form-label" for="id">User ID</label>
        <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label class="form-label" for="login">New login</label>
        <input class="form-control" type="text" th:field="*{login}" id="login" placeholder="Login">
        <br/>
        <label class="form-label" for="password">New password</label>
        <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Password">
        <br/>
        <input class="btn btn-primary" type="submit" value="Записать изменения">
    </form>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>